@charset "UTF-8";

body{
    background-color: #121214;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*Parte de cima do site*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17171A;
    margin: 0 auto;
    padding: 60px;
}

.title h1{
    color: aliceblue;
    text-align: center;
    font-family: "Space Grotesk";
}


.code{
    color: #E07B67;
}

#pesquisa{
    margin-top: 6px;
    color: #AFABB6;
    padding: 10px 0px 10px 10px;
    width: 50%;
    justify-content: center;
    background-color: #202024;
    border: solid 2px #252529;
    outline: none;
    text-align: left;
}

#pesquisa:hover{
    border: solid 2px #E07B67;
    transition: 0.5s;
}

/*Bloco de notícias*/

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Coração*/

.heart{
    display: flex;
    justify-content: flex-end;
}

#icon {
  fill: #17171A;
  stroke: #E07B67;
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

#icon.filled,
#icon:hover {
  fill: #E07B67;
}


.noticia1, .noticia2, .noticia3{ /*Adicionar class de outras divs*/
    cursor: pointer;  
    border-radius: 5px;
}

.noticia1, .noticia2, .noticia3{
    max-width: 900px;
    font-family: "Space Grotesk";
    background-color: #17171A;
    padding: 20px;
    margin-top: 20px;
    border: solid #252529 1px;
}

.noticia1:hover,.noticia2:hover,.noticia3:hover{
    border: solid #E07B67 1px;
    transition: 0.5s;
}

.noticia1 h5, .noticia2 h5, .noticia3 h5{
    color: #E07B67;
}

.noticia1 h4, .noticia2 h4, .noticia3 h4{
    color: #FFFFFF;
}

.noticia1 p, .noticia2 p, .noticia3 p{
    color: #AFABB6
}


/*Responsividade*/

@media screen and (max-width: 728px) {
    section{
        padding: 20px;
    }

    .busca{
        display: flex;
        justify-content: center;
    }

    #pesquisa{
        margin-top: 6px;
        color: #AFABB6;
        padding: 10px;
        width: 100%;
        max-width: 400px;   /* controla o tamanho real */
        background-color: #202024;
        border: solid 2px #252529;
        outline: none;
    }
    
}