@charset "UTF-8";

body{
    background-color: #121214;
    margin: 0 auto;
}

/*Parte de cima do site*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17171A;
    margin: 0 auto;
    padding: 60px;
}

.title h2{
    color: aliceblue;
    text-align: center;
    font-family: "Space Grotesk";
}

.code{
    color: #E07B67;
}

#pesquisa{
    margin-top: 6px;
    padding: 10px 95px 10px 95px;
    justify-content: center;
    background-color: #202024;
    border: solid 2px #252529;
}